@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    background-color: #435244;
}

#content {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #435244;
    justify-content: center;
    align-items: center;
}

.headerLeft{
    flex: 1.5;
}

.headerRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-left: 1px solid black;
}

button {
    flex: 1;
    background-color:transparent;
    border: none;
    font-size: 20px;
    cursor:pointer;
    color: #fffff2;
    max-width: 381px;
    padding: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

button:hover {
    background-color:#29312a;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffff2;
    background-color: #435244;
}

.mainLeft {
    height: calc(100vh - 35px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1.5;
    background-color:#435244;
    border-right: 1px solid black;
    border-top: none;
    font-size: 56px;
    /* padding-bottom: 41px; */
    overflow: hidden;
}

.mainRight {
    height: calc(100vh - 35px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #435244;
    /* padding-bottom: 41px; */
    overflow: hidden;
}

.imgRight {
    filter: invert(47%) sepia(68%) saturate(5607%) hue-rotate(336deg) brightness(104%) contrast(111%);
    height: 950px;
    width: 950px;
    /* padding-top: 35px; */
    max-width: 100%;
}

h1{
    z-index: 2;
}
h6{
    z-index: 2;
    font-weight: 200;
    position: relative;
    bottom: 20px;
}

.imgLeft {
    filter: invert(47%) sepia(68%) saturate(5607%) hue-rotate(336deg) brightness(104%) contrast(111%);
    position: relative;
    height: 32px;
    bottom: 183px;
    left: 28px;
    /* transform: scale(1.2); */
    /* padding-bottom: 50px; */
    /* max-height: 100%; */
    /* max-width: 380px; */
    /* object-fit: scale-down; */
}

.quote{
    position: relative;
    bottom: 150px;
    font-size: 36px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.name{
    font-style: normal;
    position: relative;
    bottom: 150px;
    left: 90px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}