@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    background-color: #435244;
}

#content {
    display: flex;
    flex-direction: column;
}

/* -----Header----- */

header {
    display: flex;
    background-color: #435244;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.headerLeft{
    flex: 1.5;
    box-shadow: inset -9px 5px 13px -10px rgba(0,0,0,0.75);
    height: 35px;
}

.headerRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

button {
    flex: 1;
    background-color:transparent;
    border: none;
    font-size: 20px;
    cursor:pointer;
    color: #fffff2;
    max-width: 381px;
    padding: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color:#FF3C40;
}

/* -----Main----- */

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffff2;
    background-color: #435244;
}

.mainLeft {
    height: calc(100vh - 36px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1.5;
    background-color:#435244;
    border-top: none;
    font-size: 56px;
    overflow: hidden;
    box-shadow: inset -9px -5px 13px -10px rgba(0,0,0,0.75);
}

.mainRight {
    height: calc(100vh - 36px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #435244;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.imgRight {
    filter: invert(47%) sepia(68%) saturate(5607%) hue-rotate(336deg) brightness(104%) contrast(111%);
    height: 950px;
    width: 950px;
    max-width: 100%;
}

h1{
    z-index: 2;
}
h6{
    z-index: 2;
    font-weight: 200;
    position: relative;
    bottom: 20px;
}

.imgLeft {
    filter: invert(47%) sepia(68%) saturate(5607%) hue-rotate(336deg) brightness(104%) contrast(111%);
    position: relative;
    height: 32px;
    bottom: 183px;
    left: 68px;
}

.quote{
    position: relative;
    bottom: 150px;
    font-size: 36px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.name{
    font-style: normal;
    position: relative;
    bottom: 150px;
    left: 90px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

/* -----Menu----- */

.containerMenu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    padding: 50px;
    overflow: auto;
    width: 100%;
}

.cell{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    /* border: 1px solid #FF3C40; */
    background-color: #FF3C40;
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.25);
}

.containerMenu img{
    object-fit: cover;
    max-height: 250px;
    object-position: center;
    /* border-radius: 10px; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* border-bottom: 1px solid black; */
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.25);
}

.containerMenu h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 5px 0 5px 0;
    color: #fffff2;
}

/* -----Contact----- */

.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    background-color: rgba(41, 49, 42, 0.7);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.25);
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    width: 70%;
}

.contactContainer h1{
    font-size: 50px;
}

.contactContainer img{
    position: relative;
    filter: invert(47%) sepia(68%) saturate(5607%) hue-rotate(336deg) brightness(104%) contrast(111%);
}

.textContainer{
    text-align: center;
    font-size: 40px;
    font-weight: 200;
}

/* -----Scrollbar----- */

::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }